# See https://www.dartlang.org/tools/private-files.html

# Files and directories created by pub
.buildlog
.packages
.project
.pub/
build/
**/packages/
.dart_tool/

# Files created by dart2js
# (Most Dart developers will use pub build to compile Dart, use/modify these 
#  rules if you intend to use dart2js directly
#  Convention is to use extension '.dart.js' for Dart compiled to Javascript to
#  differentiate from explicit Javascript files)
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json

# Directory created by dartdoc
doc/api/

# Don't commit pubspec lock file 
# (Library packages only! Remove pattern if developing an application package)
pubspec.lock

#Ignore VSCode Directory
.vscode/

# test books
assets/davinci.epub
assets/andthentherewerenone.epub
assets/alice_unzipped/
assets/andthen_unzipped/
assets/davinci_unzipped/
assets/frankenstein_unzipped/
assets/fahren.epub
assets/fahrenheit451/content.opf
assets/fahrenheit451/cover_image.jpg
assets/fahrenheit451/index_split_000.html
assets/fahrenheit451/index_split_001.html
assets/fahrenheit451/index_split_002.html
assets/fahrenheit451/index_split_003.html
assets/fahrenheit451/index_split_004.html
assets/fahrenheit451/index_split_005.html
assets/fahrenheit451/index_split_006.html
assets/fahrenheit451/index_split_007.html
assets/fahrenheit451/META-INF/container.xml
assets/fahrenheit451/mimetype
assets/fahrenheit451/page_styles.css
assets/fahrenheit451/stylesheet.css
assets/fahrenheit451/titlepage.xhtml
assets/fahrenheit451/toc.ncx
assets/piranesi.epub
assets/piranesi/
test/piranesi_section_test.dart
.DS_Store
assets/sao.epub
assets/sao
JP_EPUB.md
forge.yaml
assets/nations.epub
assets/nations/
